@import "tailwindcss";
<<<<<<< HEAD
@plugin "tailwindcss-motion";
=======
>>>>>>> feature/header

@theme {
  --color-taupe-50: #f5ebd8; /* base color */
  --color-taupe-100: #d6cebd;
  --color-taupe-200: #b8b0a2;
  --color-taupe-300: #999387;
  --color-taupe-500: #7a756c;
  --color-taupe-700: #5c5851;
  --color-taupe-900: #3d3b36;
  --color-taupe-950: #1f1d1b;
}

